# Banco de dados
SPRING_DATASOURCE_URL=jdbc:postgresql://localhost:5432/sabia
SPRING_DATASOURCE_USERNAME=sabia
SPRING_DATASOURCE_PASSWORD=sabia

# Perfil ativo (dev | prod)
SPRING_PROFILES_ACTIVE=dev

# JWT_SECRET=seu_secret_aqui
# JWT_EXPIRATION_MS=86400000
